.banner {
    width: 100%;
    padding:50px 30px; 
    background: var(--secondary); 
    background-size: cover;
    background-position: top center;
    position: relative;
    p{
        line-height: 25px;
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }
    &__info {
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    @media screen and (max-width: 972px) {
        &__info {
            flex-direction: column;
            text-align: center;
            gap: 30px;
        }
    }
    &__header {
        font-size: 3rem;
        font-weight: bold;
        color: white;
        text-transform: capitalize;
        filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));
    }
    &__description {
        color: white;
    }
    &__actual-temp {
        align-self: center;
        font-size: 8rem;
        font-weight: bold;
        color: white;
        filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));
        sup{
            font-size: 5rem
        }
    }
    &__other-info {
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, .7);
        background: rgba(255, 255, 255, .2);
        padding: 10px 15px;
        border-radius: 18px;
        align-self: center;
        p{
            line-height: 1.5rem;
        }
    }
    &__info-item {
        text-align: center;
        span{
            font-size: 1.4rem;
            font-weight: bold;
            color: white;
        }
    }
}